* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#main {
    height: 85%;
    width: 100%;
    display: flex;
    padding: 5vw 10vw;
}

#left {
    height: 100%;
    background-color: #333;
    width: 45%;
    background-size: cover;
    background-position: center;
}

#right {
    height: 100%;
    width: 55%;
    padding: 0 3vw;
}

#right h3 {
    font-size: 40px;
}

#all-songs {
    height: 85%;
    margin-top: 30px;
    overflow-y: auto;
}

.song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 18px 15px;
    cursor: pointer;
}

.song-card:hover {
    background-color: #1e1e1e;
}

.song-card.playing {
    background-color: #444;
    border-left: 4px solid #f50057;
}

.song-card img {
    height: 55px;
    width: 55px;
    margin-right: 20px;
    object-fit: cover;
}

.song-card h2 {
    font-size: 22px;
    font-weight: 600;
}

.song-card h6 {
    font-weight: 500;
    font-size: 16px;
}

#player {
    height: 15%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3 {
    background-color: rgba(30, 30, 30, 0.737);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

#player h3 i {
    font-size: 24px;
}

#player h3:active {
    scale: 0.93;
}

#volumeSlider {
    width: 150px;
}
